{% extends "partials/layout.html" %}


{% block body %}
    <h1 class="title is-1">{{ scribble.title }}</h1>

    <a href="/user/{{ scribble.user.id }}">Posted by {{ scribble.user.name }}</a>

    <div class="box" id="description">
        <p>{{ scribble.description }}</p>
    </div>

    <span class="tag is-large"> {{ scribble.scribble_category }}</span>

    <div id="tag-collection" class="buttons">
        {% for tag in possible_tags %}
            {% with active=tag.name in selected_tags_names %}
                <form
                        method="POST"
                        action="/add_tag/{{ scribble.id }}/{{ tag.name }}/{{ "delete" if active else "add" }}">
                    <button
                            id="{{ tag.name }}"
                            class="button {{ "is-active" if active }} {{ "tooltip" if tag.description }}"
                            data-tooltip="{{ tag.description }}">
                    <span class="icon is-small"><i class="fas {{ "fa-minus" if active else "fa-plus" }}"></i></span>
                    <p>{{ tag.name }}</p>
                    </button>
                </form>
            {% endwith %}
        {% endfor %}
    </div>

    <a id="back" class="button" href="/scribble/{{ scribble.id }}">Back to Scribble</a>
{% endblock %}