{% extends "partials/layout.html" %}

{% block body %}

<h1 class="title">Admin Panel</h1>

<h2 class="title">Users ({{users.count()}})</h2>
{% for user in users %}
    {{user.name}}
{% endfor %}

<h2 class="title is-2">Tags</h2>
{% for category in categories %}
    <h4 class="subtitle is-4">{{category.name}}</h4>
    <div class="block">
    {% if category.tag_collection %}
        {% for tag in category.tag_collection %}
            <span class="tag is-medium">{{tag.name}}</span>
        {% endfor %}
    {% else %}
        <p>No Subtags in {{category.name}}</p>
    {% endif %}
    </div>
{% endfor %}

{% endblock %}
