{% extends "partials/layout.html" %}

{% block body %}

{% include "partials/message_box.html" %}

<div id="form-errors">
    {% for field, errors in form.errors.items() %}
    <div>
        {{ form[field.label] }}: {{ ", ".join(errors) }}
    </div>
    {% endfor %}
</div>

<form method="POST" action="/new_scribble" id="new-scribble-form">
    {{form.csrf_token}}
    <div class="field">
        {{form.title.label(class="label")}}
        {{form.title(class="input", autofocus=true)}}
    </div>

    <div class="field">
        {{form.description.label(class="label")}}
        {{form.description(class="textarea", rows="10")}}
    </div>

    <div class="field">
        {{form.category.label(class="label")}}
        {{form.category(class="select")}}
    </div>

    <input id="save-button" type="submit" value="Save">
</form>

{% endblock %}
