{% extends "partials/layout.html" %}

{% block body %}

{% if parent %}
    {% with comment = parent %}
        {% include "partials/comment.html" %}
    {% endwith %}
{% endif %}

{% if parent %}
<form method="POST" action="/comment/{{parent.on_scribble}}?parent={{parent.id}}" id="edit-comment-form">
{% else %}
<form method="PUT" action="/edit_comment/{{comment.id}}" id="edit-comment-form">
{% endif %}
    {{form.csrf_token}}

    {{form.content.label(class="label")}}
    {{form.content(class="textarea")}}

    <input type="submit" value="Post Comment">
</form>

{% endblock %}
