{% extends "partials/layout.html" %}

{% block body %}

<h1 class="title is-1">Bardic Scribbles</h1>

<h2>Hot Scribbles</h2>
{% for scribble in scribbles %}
    {% include "partials/scribble_overview.html" %}
{% endfor %}

{% endblock %}