{% extends "partials/layout.html" %}
{% block body %}

{% include "partials/message_box.html" %}

<form method="POST" action="/login" id="login-form">
    {{form.csrf_token}}

    <div class="field">
        {{form.username.label(class="label")}}
        {{form.username(class="input")}}
    </div>

    <div class="field">
        {{form.password.label(class="label")}}
        {{form.password(class="input")}}
    </div>

    <input id="login-button" type="submit" value="Login">
</form>

{% endblock %}
