{% extends "partials/layout.html" %}

{% block body %}

<h1 class="title is-1">Create Account</h1>

{% include "partials/message_box.html" %}

<div id="form-errors">
    {% for field, errors in form.errors.items() %}
    <div>
        {{ form[field.label] }}: {{ ", ".join(errors) }}
    </div>
    {% endfor %}
</div>

<form method="POST" action="/new_user" id="new-user-form">
    {{form.csrf_token}}
    <div class="field">
        {{form.username.label(class="label")}}
        {{form.username(class="input")}}
    </div>

    <div class="field">
        {{form.email.label(class="label")}}
        {{form.email(class="input")}}
    </div>

    <div class="field">
        {{form.password.label(class="label")}}
        {{form.password(class="input")}}
    </div>

    <input id="create-button" type="submit" value="Create">
</form>

{% endblock %}
