{% extends "partials/layout.html" %}

{% block body %}

    <h1 class="title is-1">{{ scribble.title }}</h1>

    {% if is_creator %}
        <p>Posted by you</p>
    {% else %}
        <a href="/user/{{ scribble.user.id }}">Posted by {{ scribble.user.name }}</a>
    {% endif %}


    <div class="box" id="description">
        <p>{{ scribble.description }}</p>
    </div>

    <span class="tag is-large"> {{ scribble.scribble_category }}</span>

    {% for tag in scribble.tags() %}
        {% with selected=tag in scribble.tags() %}
            {% include "partials/tag.html" %}
        {% endwith %}
    {% endfor %}

    {% if is_creator %}
        <div>
            <a id="modify-tags" class="button is-small" href="/add_tag/{{ scribble.id }}">Modify tags</a>
        </div>
    {% endif %}

    <div>
        <h3 class="title is-3">Comments</h3>

        <form method="POST" action="/comment/{{ scribble.id }}" id="new-comment-form">
            {{ new_comment_form.csrf_token }}

            <div class="field">
                <p class="label">Post a comment</p>
                {{ new_comment_form.content(class="textarea", id="comment-content") }}
            </div>
            <button type="submit" id="post-comment-button">Post Comment</button>
        </form>

        {% for comment in comments %}
            {% include "partials/comment.html" %}
        {% endfor %}
    </div>
{% endblock %}
