{% extends "partials/layout.html" %}

{% block body %}

    <h1 class="title">Scribbles</h1>

    <form action="/search" method="POST">
        <div class="fieldset">
            <label for="category">Category </label>
            <select id="category" name="category">
                <option selected disabled></option>
                {% for category in categories %}
                    <option name="{{ category.name }}" {{ "selected" if category.name == selected_category }}>{{ category.name }} </option>
                {% endfor %}
            </select>
        </div>

        <div id="tags">
            <label>Tags: </label>
            {% for tag in tags %}
                <input class="checkbox" type="checkbox" id="tag-{{ tag.name }}"
                       name="tag-{{ tag.name }}" {{ "checked" if tag.name in ticked }}>
                <label class="checkbox" for="tag-{{ tag.name }}">{{ tag.name }}</label>
            {% endfor %}
        </div>

        <button type="submit">Search</button>
    </form>

    <div id="results">
        {% for scribble in scribbles %}
            {% include "partials/scribble_overview.html" %}
        {% endfor %}
    </div>

{% endblock %}