{% extends "partials/layout.html" %}

{% block body %}

<h1 class="title is-1" id="username">{{user.name}}</h1>

<div class="columns">
    <div class="column">
        <h2 class="title">Top Scribbles</h2>

        {% if top_scribbles %}
            {% for scribble in top_scribbles %}
                {% include "partials/scribble_overview.html" %}
           {% endfor %}
        {% else %}
            This user hasn't posted anything yet
        {% endif %}
    </div>

    <div class="column">
        <h2 class="title">Latest Comments</h2>

        {% if latest_comments %}
             {% for comment in latest_comments %}
             <div class="box">
                {{ comment.content }}
             </div>
            {% endfor %}
        {% else %}
            This user hasn't commented yet
        {% endif %}
    </div>
</div>

{% endblock %}
