<div class="comment box">
    <h4 class="title is-6">By <a href="/user/{{comment.poster}}">{{comment.user.name}}</a></h4>
    <p>{{comment.content}}</p>

    {% if current_user.id == comment.poster %}
        <a class="button" href="/edit_comment/{{comment.id}}">Edit</a>
    {% endif %}

    <a class="button" href="/reply/{{comment.id}}">Reply<a>
    <a class="button">Report</a>

        {% for comment in comment.children %}
            {% include "partials/comment.html" %}
        {% endfor %}
</div>
