<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Bardic Scribbles</title>
    {% else %}
        <title>Bardic Scribbles</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
          integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/66d7676773.js" crossorigin="anonymous"></script>
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container content">
    {% block body %}
        Empty Body
    {% endblock %}
</div>

</body>
</html>