{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="messages">
    {% for category, message in messages %}
    <div class="notification is-{{category}}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}