{% block navbar %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Bardic Scribbles</a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/new_scribble" id="new-scribble-button">
                    Create a Scribble
                </a>

                <a class="navbar-item" href="/search">
                    Search
                </a>
            </div>

            <a class="navbar-end">
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href={{ "/user/" + current_user.id }} id="username">
                        {{ current_user.name }}
                    </a>

                    <a class="navbar-item" href="/logout" id="logout-button">
                        logout
                    </a>
                {% else %}
                    <a class="navbar-item" href="/login" id="login-button">
                        Login
                    </a>
                    <a class="navbar-item" href="/new_user">
                        Create Account
                    </a>
                {% endif %}
        </div>
    </nav>

    <script>
        // Add burger
        document.addEventListener('DOMContentLoaded', () = > {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el = > {
                el.addEventListener('click', () = > {
                    const target = el.dataset.target;
            const $target = document.getElementById(target);

            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
        })
            ;
        })
            ;
        }
        })
        ;


    </script>
{% endblock %}
