<div class="box">
    <h3 class="title"><a href="/scribble/{{ scribble.id }}">{{ scribble.title }}</a></h3>
    <p>{{ scribble.description }}</p>

    <span class="tag is-link">{{ scribble.scribble_category }}</span>

    {% for tag in scribble.tags() %}
        <span class="tag is-info">{{ tag.name }}</span>
    {% endfor %}
</div>